.jumbotron {
  background: #FFFFFF;
  background-image:url("/swish.jpg");
    background-position: center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  color: white;
  padding-bottom: 80px;
 }


  .jumbotron .btn-primary {
    background: ##3C8BC6;
    border-color: ##3C8BC6; }
 
.jumbotron .btn-primary:hover {
   background: #7646c1;
  }

  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }



.home-bg {
}
